<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a th:href="@{/persons/form}">Форма добавления</a>
    <h1>Persons list</h1>
    <table>
        <tr th:each="person : ${persons}">
            <th th:text="*{person.firstName}"></th>
            <th th:text="*{person.lastName}"></th>
        </tr>
    </table>
</body>
</html>
<!-- 
Логотип ведёт на главную
Меню находится на каждой странице
Страница напишите нам
Карта

 -->