<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a th:href="@{/}">На главную</a><br>
    <a th:href="@{/products/form}">Форма добавления</a>
    <h1>Products list</h1>
    <p>
    <form method="get" th:action="@{/products/filter}">
        <label for="minPrice">Min price</label><input type="number" id="minPrice" name="minPrice">
        <label for="maxPrice">Max price</label><input type="number" id="maxPrice" name="maxPrice">
        <button type="submit">Apply</button>
    </form>
    </p>
    <table>
        <tr th:each="product : ${products}">
            <th><a th:href="@{/products/id(id=${product.id})}">Страница продукта</a></th>
            <th th:text="*{product.id}"></th>
            <th th:text="*{product.title}"></th>
            <th th:text="*{product.cost}"></th>
        </tr>
    </table>
</body>
</html>