<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<nav th:fragment="navbar" class="navbar">
        <a th:href="@{/persons}">Список персон</a>
        <a th:href="@{/persons/form}">Добавить персону</a>
        <a th:href="@{/products}">Список товаров</a>
        <a th:href="@{/products/form}">Добавить товар</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/user}">Пользователи</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Sign in</a>
        <form sec:authorize="isAuthenticated()" th:action="@{logout}" method="post">
                <button type="submit">Sign out <span sec:authentication="principal.username"></span></button>
        </form>
</nav>

</html>