<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav th:replace="fragments/navbar.html"/>
    <h1>Persons list</h1>
    <table>
        <tr th:each="person : ${persons}">
            <th th:text="*{person.firstName}"></th>
            <th th:text="*{person.lastName}"></th>
        </tr>
    </table>
    <nav th:replace="fragments/footer.html"/>
</body>
</html>